{% extends "regstration/base.html" %}
{% load static %}
{% block content %}

<style type="text/css">
/* .main{
  width: 1242px;
  height: 2208px;
} */


.login{
  float:left;
  width:50%;
}

.login-icon{
  position:relative;
}


</style>
<div class="main">
  <img src="{% static 'app/zakoogo_2.jpg' %}" width="1200px">
  <div class="login">
    <div class="login-icon">
      <a href="{%url 'accounts:login' %}"><img id="login_img" src="{% static 'app/login.png' %}" width=500px;></a>
    </div>
  </div>

  <div class="login">
    <div class="login-icon">
      <a href="{%url 'accounts:signup' %}"><img id="signup_img" src="{% static 'app/signup.png' %}" width=500px;></a>
    </div>
  </div>
</div>

{% endblock %}
