<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style type="text/css">
        p {
            color: red;
        }
        #body {
            margin-right: auto;
            margin-left: auto;
            width: 1242px;
            height: 2208px;
            background-color: orange;
        }

    </style>
</head>
<body>
<div id = "body">
<p>homeaaaaaaaaaaaaa</p>
    <a href="#">ユーザー情報</a><br>
    <a href="#">筋トレをする</a><br>
    <a href="#">見る</a><br>
    <a href="#">ランキング</a><br>
</div>
</body>
</html>